// RCS: @(#) $Id: wish.rc,v 1.8 2002/06/18 00:34:45 davygrvy Exp $
//
// Version Resource Script
//

#include <windows.h>

#define ALPHA_RELEASE	0
#define BETA_RELEASE	1
#define FINAL_RELEASE	2

// $Format: "#define MAJOR_VERSION $ProjectMajorVersion$"$
#define MAJOR_VERSION 3
// $Format: "#define MINOR_VERSION $ProjectMinorVersion$"$
#define MINOR_VERSION 9
#define RELEASE_LEVEL	FINAL_RELEASE
// $Format: "#define RELEASE_SERIAL $ProjectPatchLevel$"$
#define RELEASE_SERIAL 1
// $Format: "#define PATCH_LEVEL "$ProjectMajorVersion$.$ProjectMinorVersion$.$ProjectPatchLevel$""$
#define PATCH_LEVEL "3.9.1"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    MAJOR_VERSION,MINOR_VERSION,RELEASE_LEVEL,RELEASE_SERIAL
 PRODUCTVERSION MAJOR_VERSION,MINOR_VERSION,RELEASE_LEVEL,RELEASE_SERIAL
 FILEFLAGSMASK	0x3fL
 FILEFLAGS	0x0L
 FILEOS		VOS__WINDOWS32
 FILETYPE	VFT_APP
 FILESUBTYPE	0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "opentsv Application\0"
            VALUE "OriginalFilename", "opentsv" PATCH_LEVEL ".exe\0"
            VALUE "CompanyName", "VIB\0"
            VALUE "FileVersion", PATCH_LEVEL
            VALUE "LegalCopyright", "Copyright \251 2005 by Peter de Rijk (VIB)\0"
            VALUE "ProductName", "opentsv " PATCH_LEVEL " for Windows\0"
            VALUE "ProductVersion", PATCH_LEVEL
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
